*{
    margin: 0;
    color: #2b0d0a;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

body{
    background-color: #faeee7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body .container{
    padding: 0 1.5em 1em;
    display: flex;
    flex-direction: column;
}

body .container >*{
    width: 100%;
}

header{
    width: 100%;
    top: 0;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #faeee7;
}

nav{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0 1.5em;
}

nav img{
    display: none;
}

nav h1{
    font-size: 2.5em;
    font-weight: 500;
    transition-duration: 0.5s;
}

nav h1:hover{
    text-shadow: 0 0 4px #6e1913;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    font-size: 1.5em;
}

nav ul li{
    margin: 0 0.5em;
    transition-duration: 0.5s;
}

nav ul li:hover{
    font-weight: bolder;
}

nav h1, nav ul li{
    cursor: pointer;
}

nav ul li:first-child{
    display: none;
}

nav a{
    text-decoration: none;
}

#home{
    display: hidden;
}

section{
    width: 100%;
    margin-bottom: 3em;
}

#section1{
    display: flex;
    flex-direction: row;
    height: 80vh;
    margin-top: 90px;
}

.navSections{
    padding: 5em 0 0;
}

#info{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#info small{
    font-size: 1em;
}

#small{
    margin: 1em 0;
}

#info a img{
    width: 32px;
    height: 32px;
}

#img{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
}

#img img{
    width: 100%;
    border-radius: 50%;
}

h2{
    font-size: 2.25em;
    margin: 1em 0;
}

#about p{
    margin: 0.75em 0;
    font-size: 1.125em;line-height: 2;
}

#about ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: circle;
    margin-bottom: 1em;
}

#projects{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

#projects h2{
    margin-bottom: 16px;
}

#projects small{
    margin-bottom: 16px;
}

.featured{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}

.projImg a img{
    width: 100%;
}

.leftImg .projImg{
    grid-column: 1 / 8;
    grid-area: 1 / 1 / -1 / 7;
    position: relative;
    z-index: 1;
}

.leftImg .projContent{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    grid-column: 7 / -1;
    position: relative;
    grid-area: 1 / 6 / -1 / -1;
}

.rightImg .projImg{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    grid-column: 8 / -1;
    position: relative;
    grid-area: 1 / 7 / -1 / -1;
}

.rightImg .projContent{
    grid-column: 1 / 9;
    grid-area: 1 / 1 / -1 / 8;
    position: relative;
    z-index: 1;
}

h3{
    font-family: 'Baloo 2', cursive;
    font-size: 1.75em;
    margin: 0 0 1em;
}

.projContent a h3{
    transition-duration: 0.5s;
}

.projContent a h3:hover{
    text-shadow: 0 0 4px #6e1913;
}

.projContent p{
    background-color: rgba(250, 225, 210, 0.8);
    padding: 1em;
    font-size: 1.125em;
    position: relative;
    z-index: 2;
    border-radius: 10px;
}

.leftImg .projContent p{
    text-align: right;
}

.rightImg .projContent p{
    text-align: left;
}

.projContent ul{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    list-style: none;
    font-family: 'Rajdhani', sans-serif;
    margin: 0.75em 0;
}

.projContent ul li{
    margin-left: 1em;
}

#otherProj{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#otherProj h3{
    margin: 4em 0 2em;
}

#projList{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 2em 0 4em;
}

#projList .projListContent{
    background-color: #fae1d2;
    width: calc(100%/3);
    height: auto;
    padding:2em 1em 1em;
    border-radius: 20px;
    transition-duration: 0.5s;
}

#projList .projListContent:hover{
    box-shadow: 2px 4px 10px #6e1913;
}

.projListContent div{
    width: 100%;
    margin: 0;
}

#git{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 1;
}

#git a img{
    width: 32px;
}

#projInfo h4{
    font-family: 'Baloo 2', cursive;
    font-size: 1.25em;
    margin: 0.75em 0 1em;
}

#projInfo ul{
    list-style: none;
    margin: 1.5em 0 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: 'Rajdhani', sans-serif;
}

.button{
    background-color: #fae1d2;
    padding: 0.75em;
    margin: 2em 0;
    border-radius: 15px;
    font-family: 'Baloo 2', cursive;
    font-weight: 500;
    transition-duration: 0.5s;
}

.button:hover{
    background-color: #2b0d0a;
    color: #fae1d2;
}

#services ul{
    list-style: none;
    padding: 0;
    margin-bottom: 3em;
}

#services ul li{
    font-size: 1.25em;
    margin: 0.75em 0;
}

#services div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer{
    width: 100%;
    padding: 1em 0 1.5em;
    background-color: #fae1d2;
    text-align: center;
}

#contactMe{
    margin-top: 90px;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contactMe p{
    font-size: 1.5em;
    margin: 1em 0;
}

#hello{
    font-size: 1.25em;
}

.socials img{
    width: 48px;
    height: 48px;
}

@media(max-width: 425px){
    nav img, nav h1{
        z-index: 5;
    }

    nav h1, .close-menu{
        position: relative;
    }

    .open-menu{
        display: block;
    }

    .menu{
        display: block;
        top: 100%;
        left: -10px;
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: #faeee7;
        transition: 0.3s;
    }

    .menu.open{
        top: 0;
    }

    .menu ul{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-top: 100px;
        line-height: 75px;
        height: auto;
    }

    body{
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        justify-content: space-between;
    }

    nav{
        width: 100%;
        padding: 20px;
        align-items: start;
    }

    nav ul li:first-child{
        display: block;
    }

    nav h1{
        font-size: 2em;
        display: block;
    }

    h2{
        font-size: 1.5em;
        text-align: center;
    }

    #info small{
        text-align: center;
    }

    #info a{
        display: flex;
        justify-content: center;
    }

    header{
        max-width: 100%;
    }

    body .container{
        padding: 0;
    }

    .container{
        width: 100%;
        align-items: center;
    }

    .navSections{
        padding: 0;
    }

    .page-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #section1{
        margin: 0;
        height: auto;
        flex-direction: column-reverse;
    }

    #contactMe{
        width: 60%;
    }

    #contactMe p{
        text-align: center;
        font-size: 1.25em;
    }

    #about{
        padding-bottom: 3em;
    }

    #about>*{
        width: 60%;
    }

    #about p, #services ul li{
        font-size: 1em;
    }

    #about ul{
        display: grid;
        grid-template-areas: 
            'a b c'
            'd e f';

    }

    #about ul li{
        font-weight: bold;
    }

    #about a{
        display: flex;
        justify-content: center;
    }

    h3{
        font-size: 1.25em;
    }

    #services{
        height: 75vh;
    }

    #services ul{
        text-align: center;
    }

    #projects{
        box-sizing: border-box;
        padding-bottom: 3em;
    }

    #projects>*{
        width: 60%;
    }

    .projImg{
        width: 100%;
        display: flex;
    }

    .featured{
        display: flex;
        flex-direction: column-reverse;
    }

    .featured .projContent{
        align-items: flex-start;
        width: 100%;
    }

    .projContent small{
        display: none;
    }

    .projContent ul{
        width: 100%;
        padding: 0;
        display: grid;
        grid-template-areas: 
            'a b c'
            'd e f';
    }

    .leftImg .projContent p, .rightImg .projContent p{
        text-align: center;
        font-size: 1em;
    }

    .projImg a img{
        border-radius: 10px;
    }

    .leftImg{
        margin-bottom: 3em;
    }

    .otherProg h3{
        margin: 1em 0 1em;
    }

    #projList{
        flex-direction: column;
        align-items: center;
    }

    #projList .projListContent{
        width: 100%;
        text-align: center;
    }

    #projInfo h4{
        font-size: 1em;
    }
}

@media(min-width: 426px){
    nav img{
        display: none;
    }

    header{
        position: fixed;
    }

    body .container{
        width: 60%;
    }
}